#search-list {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.search-result-item {
  padding: 7px calc(5%);
}

.item-let-long {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 5px;
  color:rgb(99, 99, 99);
}
