#search-bar {
  outline: none;
  width: 90vw;
  display: block;
  height: 25px;
  padding: 5px 10px;
  margin: 10px auto;
  -webkit-box-shadow: 5px 3px 2px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 5px 3px 2px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.15);
  border-radius: 15px;
  border: none;
  font-size: 1em;
}

#search-bar-label {
  margin: auto 10px;
  display: block;
}
